.sliderItem img{
/*	width: 60%;
	height: auto;
	margin-left: 20%;*/
}

#myCarousel{
	box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 96%;
    margin-left: 2%;
    margin-top: 2%
} 