.sliderItem img{
	margin-left: auto;
	margin-right: auto;
    height: 800px;
    width: auto;
}

.container{
    width: 100%;
    margin: 0px;
}

#myCarousel{
	box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    width: 96%;
    margin-left: 2%;
    margin-top: 2%
} 