<div class="container" style="padding: 20px; font-family: cursive">
    <div id="leftContent" class=".col-xs-6 .col-md-4" style="float: left">
        <img [src]="staff.profilePicUrl" alt="profile picture">
        <div class="caption">
            <h4>{{staff.staffName}}</h4>
            <h6>{{staff.jobTitle}}</h6>
        </div>

        <hr/>
        <table class="contentTable">
            <tr>
                <td><strong>Country: </strong></td>
                <td>{{staff.country}}</td>
            </tr>
            <tr>
                <td><strong>Year of Birth:</strong></td>
                <td>{{staff.dateOfBirth}}</td>
            </tr>
        </table>
    </div>
    <div id="rightContent" class=".col-xs-12 .col-md-8">
        <table class="contentTable" style="margin-left: 30%">
            <tr>
                <td><strong>Degree: </strong></td>
                <td>{{staff.degree}}</td>
            </tr>
            <tr>
                <td><strong>Experience: </strong></td>
                <td>{{staff.experience}}</td>
            </tr>
            <tr>
                <td><strong>Details: </strong></td>
                <td>{{staff.details}}</td>
            </tr>
        </table>
    </div>


</div>
<div class="container">
    <a role="button" class="btn-default btn" [routerLink]="['/staffs']">
        All Staffs
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
</div>

