<div>
    <div class="container " style="font-family: cursive">
        <div class="row">
            <div style="line-height: 1.7; font-size: 16px">
                <h2><strong>What We Do</strong></h2>
                <p>Umistrong is a group that provides art materials and art classes for all age groups.
                    We aim to help art enthusiasts, artists, art teachers and students to find the most suitable
                    materials.
                    We keep sourcing products at all price range for different customer groups from youngest child to
                    professional. </p>
                <p>We also provide many kinds of art classes for different age groups, such as Oil Painting, Acrylic
                    Painting, Watercolor, Chinese ink, sketching and clay&ceramic art, etc. In addition for kids, we
                    also conduct creative handcraft program. Our studio aims to help learners develop their interest and
                    express creative thinking with brushes and colors.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
                </p>
            </div>

        </div>
        <!-- /.row -->
        <app-about-store></app-about-store>


        <hr>

        <div id="aboutVideo">
            <h2>About Us:</h2>
            <video controls="controls" width="1000" height="600" name="About Us" src="/imgs/about/video.mov"></video>
        </div>

        <hr>

        <br>
        <h2>Contact Us:</h2>
        <div class="address col-sm-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.730899480436!2d103.94661531524362!3d1.3377339990243338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d3b298dbcbf%3A0x775ca49ad8514131!2s3016+Bedok+North+Ave+4%2C+Singapore+489947!5e0!3m2!1sen!2ssg!4v1482065896964"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
            <div>
                <address>Blk 3016 Bedok North Ave4 #02-12
                    <br>Eastech Singapore 489947
                    <br>Main Office
                </address>
                <address>
                    <abbr title="Tel">Tel:</abbr>(65) 6635-8181
                    <br>
                    <abbr title="Email">Email:</abbr> <a href="mailto:#">umistrongsg@gmail.com</a>
                </address>
            </div>
        </div>


        <div class="address col-sm-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3988.791039163561!2d103.84877501524343!3d1.3002146490516737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s91+bencoolen+street+sunshine+plaza+singapore!5e0!3m2!1sen!2ssg!4v1482065989758"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
            <address>91 Bencoolen Street #01-72
                <br>Sunshine Plaza S189652
                <br>Bugis Store
            </address>
            <address>
                <abbr title="Tel">Tel:</abbr>(65) 6337-6468
                <br>
            </address>
        </div>


        <div class="address col-sm-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7268873128687!2d103.95397583537294!3d1.3401997028735817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d224f772433%3A0x3b3dec64895844d9!2sEastpoint+Mall!5e0!3m2!1sen!2ssg!4v1482066611766"
                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
            <address>3 Simei Street 6, #02-28
                <br>Eastpoint Mall S528833
                <br>Simei Store
            </address>
            <address>
                <abbr title="Tel">Tel:</abbr>(65) 6538-9916
                <br>
            </address>
        </div>

    </div>
</div>